<template>
    <div class="rounded shadow mt-20">
        <CarMessageCard v-for="message in messages" :key="message.id" :message="message"/>
    </div>
</template>

<script setup>
definePageMeta({
    layout: "custom"
})

const route = useRoute()
const listingId = route.params.id

const {data: messages} = useFetch(`/api/car/listings/${listingId}/message`)
</script>