<template>
    <div class="w-full">
            <template v-if="cars.length">
                <CarCard v-for="car in cars" :key="car.id" :car="car" @favor="handleFavorite" :favored="car.id in favorite"/>
            </template>
            <h1 v-else class="text-red-600">No Cars Found With Filters</h1>
    </div>
</template>

<script setup>
const route = useRoute()
console.log(route.params.cityname)
const { data: cars, refresh } = await useFetchCars(route.params.cityname, {
    minPrice: route.query.minPrice,
    maxPrice: route.query.maxPrice,
    make: route.params.make
})


// const { cars } = useCars()

const favorite = useLocalStorage("favorite", {});

const handleFavorite = (id) => {
    if (id in favorite.value) {
        delete favorite.value[id]
    } else {
        favorite.value = { 
            ...favorite.value,
            [id]: true
        }
    }
}

watch(()=> route.query, ()=> window.location.reload(true))
</script>