<template>
    <div class="mt-10">
        <div class="flex w-[600px] justify-between">
            <input v-model="message.name" type="text" name="" class="border p-1" placeholder="Name" id="">
            <input v-model="message.email" type="text" name="" class="border p-1" placeholder="Email" id="">
            <input v-model="message.phone" type="text" name="" class="border p-1" placeholder="Phone" id="">
        </div>
        <div class="flex mt-4 w-[600px]">
            <textarea v-model="message.message" name="" class="border p-1 w-full" placeholder="Message" id=""></textarea>
        </div>
        <button :disabled="disableButton" class="bg-blue-400 text-white px-10 py-3 rounded mt-4" @click="onSubmit">Submit</button>
        <p class="mt-3 text-red-400" v-if="errorMessage">{{ errorMessage }}</p>
        <p class="mt-3 text-green-400" v-if="successMessage">{{ successMessage }}</p>
    </div>
</template>

<script setup>
const message = ref({
    name: "",
    email: "",
    phone: "",
    message: ""
})

const errorMessage = ref('')
const successMessage = ref('')

const disableButton = computed(() => {
    for (let key in message.value) {
        if (!message.value[key]) return true
    }
    return false
})

const route = useRoute()
const listingId = route.params.id

const onSubmit = async () => {

    try {
        const response = await $fetch(`/api/car/listings/${listingId}/message`, {
            method: "post",
            body: message.value,
        })
        successMessage.value = "Message sent !"

        message.value = {
            name: "",
            email: "",
            phone: "",
            message: ""
        }

        errorMessage.value = ""
    } catch (err) {
        errorMessage.value = err.statusMessage;
        successMessage.value = ""
    }
}

</script>